<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-md-offset-4 col-lg-offset-4" style="margin-top: 9vh;">
      <blockquote>
          <p style="color: #E91E63;">Sign In</p>
          <footer>Badmash Company</footer>
      </blockquote>
  <form #loginForm="ngForm" (ngSubmit)="OnSubmit(firstname.value,password.value)">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input type="text" class="form-control" id="firstname" #firstname placeholder="Enter firstname" name="firstname" ngModel required pattern="[a-zA-Z][a-zA-Z]+" #firstName="ngModel">
    </div>
    <div *ngIf="firstName?.touched">
      <div *ngIf="firstName.errors?.required" class="alert alert-danger">First Name is required.</div>
      <div *ngIf="firstName.errors?.pattern" class="alert alert-danger">First Name is Invalid.</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" #password placeholder="Enter password" name="password" ngModel required #passWord="ngModel">
    </div>
    <div *ngIf="passWord?.touched">
      <div *ngIf="passWord.errors?.required" class="alert alert-danger">Password is required.</div>
      <div *ngIf="passWord.errors?.pattern" class="alert alert-danger">Password is Invalid.</div>
    </div>
    <div style="color: #E91E63; margin-bottom: 8px;">{{ msg }}</div>
    <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Sign In</button>
    OR
    <a [routerLink]="['signup']">Sign Up</a>
  </form>
</div>
</div>

</body>
</html>