<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="javascript:void(0);" routerLink="/employee">Badmash Company</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="javascript:void(0);" routerLink="/statistics">Statistics</a></li>
        <li><a href="javascript:void(0);">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="text-transform: capitalize;" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{username}}</a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" routerLink="/profile">Profile Picture</a></li>
            <li><a>Gallery</a></li>
          </ul>
        </li>
        <li><a (click)="logoutSession()" style="cursor: pointer;"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h2>Edit Employee</h2>
  <form #employeeEditForm="ngForm" (ngSubmit)="editEmployee(employeeEditForm,employee)" *ngFor="let x of employee;">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" [(ngModel)]="x.first_name" name="first_name" required pattern="[a-zA-Z][a-zA-Z]+" #firstName="ngModel">
      <input type="hidden" class="form-control" id="employee_id" placeholder="Enter firstname" [(ngModel)]="x.employee_id" name="employee_id">
    </div>
    <div *ngIf="firstName?.touched">
      <div *ngIf="firstName.errors?.required" class="alert alert-danger">First Name is required.</div>
      <div *ngIf="firstName.errors?.pattern" class="alert alert-danger">First Name is Invalid.</div>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" [(ngModel)]="x.last_name" name="last_name" required pattern="[a-zA-Z][a-zA-Z]+" #lastName="ngModel">
    </div>
    <div *ngIf="lastName?.touched">
      <div *ngIf="lastName.errors?.required" class="alert alert-danger">Last Name is required.</div>
      <div *ngIf="lastName.errors?.pattern" class="alert alert-danger">Last Name is Invalid.</div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="x.email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #eMail="ngModel">
    </div>
    <div *ngIf="eMail?.touched">
      <div *ngIf="eMail.errors?.required" class="alert alert-danger">Email is required.</div>
      <div *ngIf="eMail.errors?.pattern" class="alert alert-danger">Email is Invalid.</div>
    </div>
    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" class="form-control" id="country" placeholder="Enter Country" name="country" [(ngModel)]="x.country" required pattern="[a-zA-Z][a-zA-Z]+" #counTry="ngModel">
    </div>
    <div *ngIf="counTry?.touched">
      <div *ngIf="counTry.errors?.required" class="alert alert-danger">Country is required.</div>
      <div *ngIf="counTry.errors?.pattern" class="alert alert-danger">Country is Invalid.</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="x.password" name="password" required #passWord="ngModel">
    </div>
    <div *ngIf="passWord?.touched">
      <div *ngIf="passWord.errors?.required" class="alert alert-danger">Password is required.</div>
      <div *ngIf="passWord.errors?.pattern" class="alert alert-danger">Password is Invalid.</div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="employeeEditForm.invalid">Save</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </form>
</div>

</body>
</html>